
$highlight:         #DE1817;
$highlightDarker:   #A61819;

$darkGrey:          #231F20;
$brighterBlue:      #005C7B;

$lightGrey:         #F5F5F5;
$darkGrey:          #231F20;
$borderGrey:        #D2D2D4;
$bgGrey:            #f5f7f9;


$greyText:          #555;
$lightGreyText:     #777;


$radius:            3px;
